* {
    box-sizing: border-box;
}

.page-title {
    text-align: center;
}

button, input[type=submit] {
    color: #f8f8f8;
    background: #2076FB;

    a {
        color: #f8f8f8;
        text-decoration: none;
    }
}